<mat-card id="you2meCard">
     <h1 (dblclick)="toolbarDoubleClick()">You2Me {{(moveToServer ? " (Server)" : "")}} {{(debugging ? " (Debugging)" : "")}}</h1>
     
      <button *ngIf="!searchYTCardVisible" matInput mat-raised-button color="primary" (click)="addLinkClick()">Add Link</button>

     <button *ngIf=" !searchYTCardVisible && APIKeyIsSet" matInput mat-raised-button id="searchYTButton" color="accent" (click)="showSearchYTClick()">Search YT</button>

     <!-- Grid headers -->
     <mat-card *ngIf="dataService.getLinks().length > 0">
          <mat-grid-list class="links" [cols]="getTotalColumnSize()" rowHeight="40px">
               <mat-grid-tile [colspan]="getColumnSize()" rowHeight="fit">
                    <div>URL</div>
               </mat-grid-tile>
               
               <mat-grid-tile [colspan]="getColumnSize()" rowHeight="fit">
                    <div>Format</div>
               </mat-grid-tile>
               
               <mat-grid-tile colspan="1" rowHeight="fit">
                    <div>Progress</div>
               </mat-grid-tile>
               
               <mat-grid-tile  *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService.isAudioFormat(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                    <div>Artist</div>
               </mat-grid-tile>
     
               <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService.isAudioFormat(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                    <div>Album</div>
               </mat-grid-tile>

               <mat-grid-tile colspan="1" rowHeight="fit">
                    <div>Name</div>
               </mat-grid-tile>
               
               <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                    <div>Track Num</div>
               </mat-grid-tile>
     
               <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                    <div>Genre</div>
               </mat-grid-tile>

               <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                    <div>Year</div>
               </mat-grid-tile>

               <mat-grid-tile colspan="2" rowHeight="fit">Actions</mat-grid-tile>

               <div *ngFor="let currLink of dataService.getLinks();trackBy: trackByFn" class="linkItem">
                    <mat-grid-tile [colspan]="getColumnSize()" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted; else editURL">{{currLink.URL}}</div>
                        
                         <ng-template  #editURL>
                              <mat-form-field>
                                   <input matInput [(ngModel)]="currLink.URL">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="getColumnSize()" rowHeight="fit">
                          <div *ngIf="currLink.IsSubmitted; else editFormat">{{currLink.Format}}</div>

                          <ng-template  #editFormat>
                              <mat-form-field>
                                   <mat-select placeholder='Format' name="format" [(ngModel)]="currLink.Format" [required]=true>
                                        <mat-option *ngFor="let currFormat of dataService.getFormatKeys();trackBy: trackByFn" [value]="currFormat">
                                             {{dataService.formats[currFormat].FormatDisplayName}}
                                        </mat-option>
                                   </mat-select>
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="1" rowHeight="fit">
                         <mat-progress-bar *ngIf="currLink.DownloadProgress != null" mode="determinate"  [value]="currLink.DownloadProgress" ></mat-progress-bar>                         
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService.isAudioFormat(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted || dataService.fieldIsEditable(currLink.Format,'Artist'); else editArtist">{{currLink.Fields.Artist.Value}}</div>
                        
                         <ng-template  #editArtist>
                              <mat-form-field>
                                   <input matInput [(ngModel)]="currLink.Fields.Artist.Value" value="dataService.fieldIsEditable(currLink.Format,'Artist')">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile  *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService.isAudioFormat(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted || dataService.fieldIsEditable(currLink.Format,'Album'); else editAlbum">{{currLink.Fields.Album.Value}}</div>
                        
                         <ng-template  #editAlbum>
                              <mat-form-field>
                                   <input matInput [(ngModel)]="currLink.Fields.Album.Value">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted; else editName">{{currLink.Fields.Name.Value}}</div>
                        
                         <ng-template  #editName>
                              <mat-form-field>
                                   <input matInput [(ngModel)]="currLink.Fields.Name.Value">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted || dataService.fieldIsEditable(currLink.Format,'TrackNum'); else editTrackNum">{{currLink.Fields.TrackNum.Value}}</div>
                        
                         <ng-template  #editTrackNum>
                              <mat-form-field>
                                   <input inputmode="numeric" matInput [(ngModel)]="currLink.Fields.TrackNum.Value" (keypress)="keyPressNumbers($event)">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted || dataService.fieldIsEditable(currLink.Format,'Genre'); else editGenre">{{currLink.Fields.Genre.Value}}</div>
                        
                         <ng-template  #editGenre>
                              <mat-form-field>
                                   <input matInput [(ngModel)]="currLink.Fields.Genre.Value">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="dataService.getLinks().length > 1 || ( dataService.getLinks().length == 1 && dataService. isMP3Format(dataService.links[0].Format))" colspan="1" rowHeight="fit">
                         <div *ngIf="currLink.IsSubmitted || dataService.fieldIsEditable(currLink.Format,'Year'); else editYear">{{currLink.Fields.Year.Value}}</div>
                        
                         <ng-template  #editYear>
                              <mat-form-field>
                                   <input type="number" matInput [(ngModel)]="currLink.Fields.Year.Value" (keypress)="keyPressNumbers($event)">
                              </mat-form-field>
                         </ng-template>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="2" rowHeight="fit">
                         <button *ngIf="!currLink.IsSubmitted" matInput mat-raised-button color="primary" class="goButton" (click)="goButtonClick(currLink)">Go</button>
                         <button class="download" *ngIf="currLink.IsFinished && !currLink.DownloadButtonClicked && !currLink.MoveToServerButtonClicked && !movetoServer" matInput mat-raised-button (click)="downloadButtonClicked(currLink)">Download</button>
                         <button class="moveToServer" *ngIf="currLink.IsFinished && allowMoveToServer && !currLink.DownloadButtonClicked && !currLink.MoveToServerButtonClicked" matInput mat-raised-button (click)="moveFileToServer(currLink)">Move To Server</button>
                         <div class="linkDeleteIcon"><mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteLinkButtonClick(currLink)">close</mat-icon></div>
                    </mat-grid-tile>
               </div>
          </mat-grid-list>
     </mat-card>
</mat-card>

<!-- YT search panel -->
<mat-card id="searchYTPanel" *ngIf="searchYTCardVisible">
     <mat-grid-list cols="4" rowHeight="30px">
          <mat-grid-tile colspan="3" rowHeight="fit">
               <h2>YouTube Search</h2>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowHeight="fit">
               <div id="searchResultsDeleteIcon"><mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteSearchResultsButtonClick()">close</mat-icon></div>
          </mat-grid-tile>          
     
          <!-- spacer -->
          <mat-grid-tile colspan="4" rowHeight="50px"></mat-grid-tile>

          <mat-grid-tile colspan="3" rowHeight="50px">
               <mat-form-field>
                    <input matInput placeholder='Search' [(ngModel)]="searchTerm" (keyup)="handleYouTubeSearchKeyUp($event)" [required]=true>
               </mat-form-field>               
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowHeight="50px">
               <button id="searchButton" matInput mat-raised-button color="primary" (click)="searchYTClick()">Search</button>
          </mat-grid-tile>
     </mat-grid-list>

     <div *ngIf="searchResults != null">              
         <div *ngFor="let currSearchResult of this.searchResults" class="searchResultsDiv">          
              <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
                   <mat-expansion-panel-header>
                         <mat-panel-title class="searchResults">
                              YouTube Video ID: {{ currSearchResult.id.videoId }}
                         </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-grid-list cols="1" rowHeight="50px">
                         <mat-grid-tile colspan="1">
                              <!--<span>URL: <a target="_blank" [href]="currSearchResult.id.videoId">{{currSearchResult.snippet.title}}</a></span>-->
                              <span>Title: {{currSearchResult.snippet.title}}</span>
                         </mat-grid-tile>

                         <mat-grid-tile colspan="1" rowHeight="50px">
                              <span>Description: {{currSearchResult.snippet.description}}</span>
                         </mat-grid-tile>            
                    </mat-grid-list>

                    <mat-grid-list cols="4" rowHeight="250px">
                         <mat-grid-tile colspan="3">
                              <youtube-player #player [videoId]="currSearchResult.id.videoId" [width]="250" [height]="250"></youtube-player>
                         </mat-grid-tile>

                         <mat-grid-tile colspan="1" rowHeight="50px">
                              <button class="addToYou2Me" matInput mat-raised-button color="primary" (click)="addSearchResult(currSearchResult)">Add</button>
                         </mat-grid-tile>
                    </mat-grid-list>                    
               </mat-expansion-panel>
          </div>
     </div>
</mat-card>

<!-- Supported URLs -->
<mat-card>
     <mat-checkbox id="searchCheckBox" [(ngModel)]="supportedURLsVisible" (change)="showSupportedSitesToggle()">Show supported sites</mat-checkbox>

     <mat-form-field id="searchFilter" *ngIf="supportedURLsVisible">
          <input matInput (keyup)="applySupportedURLsFilter($event.target.value)" placeholder="Filter">
     </mat-form-field>

     <mat-paginator *ngIf="supportedURLsVisible" #supportedURLsPaginator [pageSizeOptions]="[100,10,25,50,500,1000]"></mat-paginator>

     <table *ngIf="supportedURLsVisible" mat-table matSort [dataSource]="supportedURLsDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="URL">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
               <td mat-cell *matCellDef="let element"> {{element}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['URL']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['URL'];"></tr>
     </table>
</mat-card>

<!-- Debugging checkbox URLs -->
<mat-card *ngIf="debuggingCheckboxVisible">
     <mat-checkbox [(ngModel)]="debugging">Debugging</mat-checkbox>
</mat-card>