:root {
     --bg-color: #DADBDC;
}

.download {
     background-color: green !important;
     color: white;
}

.linkItem {
     background-color: #EDF0F5;
}

.moveToServer {
     background-color: red !important;
     color: white;
     margin-left: 25px;
     max-width: 125px;
}

.mat-form-field {
     width:  99%;
}

.mat-form-field mat-select {
     width:  80%;
}
/*.mat-form-field input {
     margin-left: 22px;
}*/

.tableDiv {
     font-weight: bold;
     color: white;
}

.tableHeader {
     background-color: #53A2F0;
}

/*.tableDeleteColumn {
     max-width: 50px !important;
}*/

.URLField {
     font-size: 11px;
}

#addLinkIcon {
     cursor: pointer;
     position: relative;
     margin-left: 95%;
     top: -72px;
}

#searchButton {
     border-radius: 10px;
}

#searchCheckBox {
     position: relative;
}

#searchYTIcon {
     cursor: pointer;
     position: relative;
     margin-left: 99%;
     top: -99px;
}

#supportedURLSearchFilter {
     position: relative;
     left: -170px !important;
     top: 65px !important;
}

#you2meCard {
     background-color: #DADBDC;
     text-align: center;
}

mat-card {
     border-style: solid;
     border-width: 1px !important;
}

mat-expansion-panel {
     margin-top: 15px !important;
}

mat-expansion-panel.large {
     height: 550px !important;
}

mat-grid-list.links mat-grid-tile {
     border-style: solid;
     border-collapse: collapse;
     border-width: 1px !important;
     box-shadow: inset 1px 1px 1px #000;
     text-align: start;
}

mat-panel-title.searchResults {
     display: grid;
     position: absolute;
     vertical-align: text-top; 
}

mat-panel-title.searchResults span {
     display: inline-block;
     margin-bottom: 5px !important;
}

mat-paginator {     
     margin-bottom: 25px;
}

mat-select {
     margin-left: 25px;
}