<mat-card>
     <mat-toolbar color="primary">
          <mat-toolbar-row>
               <span>YouTube to MP3</span>
          </mat-toolbar-row>
     </mat-toolbar>
     
     <mat-form-field *ngFor="let key of objectKeys">
        <input matInput [required]="this.fields[key].Required" placeholder={{key}} [(ngModel)]="this.fields[key].Value" >
     </mat-form-field>

     <h2>
          <div>
               {{this.statusMessage}}
          </div>
     </h2>
     
     <mat-vertical-stepper [linear]="true" *ngIf="this.isSubmitted && !this.isFinished" [selectedIndex]="currentStep">
        <mat-step *ngFor="let key of this.stepperStepNames" [stepControl]="currentStep">
              <ng-template matStepLabel>{{key}}</ng-template>
          </mat-step>        
     </mat-vertical-stepper>     
     
     <button *ngIf="!isSubmitted || this.isFinished" matInput mat-raised-button color="primary" (click)="submitClick()">{{(!this.isSubmitted ? "Start" : "Restart")}}</button>
     
     <button *ngIf="downloadLinkVisible" matInput mat-raised-button (click)="downloadLinkClicked()">Download</button>
</mat-card>