<mat-card>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>You2Me</span>
        </mat-toolbar-row> 
    </mat-toolbar>
  
    <mat-form-field *ngFor="let item of this.fields">
      <input matInput placeholder={{item.name}} [(ngModel)]="item.value">
    </mat-form-field>

    <h1>{{statusMessage}}</h1>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)='submitClick()'>{{(!this.isSubmitted ? "Start" : "Restart")}}</button>
      <button mat-raised-button color="warn" (click)='downloadLinkClick()' *ngIf="downloadLinkVisible" >Download</button>
    </div>

    <mat-vertical-stepper *ngIf="isSubmitted" [selectedIndex]="currentStep" [linear]='false' #stepper>
      <mat-step *ngFor="let item of this.stepperStepNames">
        <ng-template matStepLabel>{{item.stepDesc}}</ng-template>
      </mat-step>
    </mat-vertical-stepper>
</mat-card>