<mat-card id="searchYTPanel">
    <mat-grid-list cols="4" rowHeight="30px">
         <mat-grid-tile colspan="3" rowHeight="fit">
              <h2>YouTube Search</h2>
         </mat-grid-tile>

         <mat-grid-tile colspan="1" rowHeight="fit">
              <div id="searchResultsDeleteIcon"><mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteSearchResultsButtonClick()">close</mat-icon></div>
         </mat-grid-tile>          
    
         <!-- spacer -->
         <mat-grid-tile colspan="4" rowHeight="50px"></mat-grid-tile>

         <mat-grid-tile colspan="3" rowHeight="50px">
              <mat-form-field>
                   <input matInput placeholder='Search' [(ngModel)]="searchTerm" (keyup)="handleYouTubeSearchKeyUp($event)" [required]=true>
              </mat-form-field>               
         </mat-grid-tile>

         <mat-grid-tile colspan="1" rowHeight="50px">
              <button id="searchButton" matInput mat-raised-button color="primary" (click)="searchYTClick()">Search</button>
         </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="searchResults != null">              
        <div *ngFor="let currSearchResult of this.searchResults" class="searchResultsDiv">          
             <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
                  <mat-expansion-panel-header>
                        <mat-panel-title class="searchResults">
                             YouTube Video ID: {{ currSearchResult.id.videoId }}
                        </mat-panel-title>
                   </mat-expansion-panel-header>

                   <mat-grid-list cols="1" rowHeight="50px">
                        <mat-grid-tile colspan="1">
                             <!--<span>URL: <a target="_blank" [href]="currSearchResult.id.videoId">{{currSearchResult.snippet.title}}</a></span>-->
                             <span>Title: {{currSearchResult.snippet.title}}</span>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="1" rowHeight="50px">
                             <span>Description: {{currSearchResult.snippet.description}}</span>
                        </mat-grid-tile>            
                   </mat-grid-list>

                   <mat-grid-list cols="4" rowHeight="250px">
                        <mat-grid-tile colspan="3">
                             <youtube-player #player [videoId]="currSearchResult.id.videoId" [width]="250" [height]="250"></youtube-player>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="1" rowHeight="50px">
                             <button class="addToYou2Me" matInput mat-raised-button color="primary" (click)="addSearchResult(currSearchResult)">Add</button>
                        </mat-grid-tile>
                   </mat-grid-list>                    
              </mat-expansion-panel>
         </div>
    </div>
</mat-card>